<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-5">
            <h2>JUST 请假管理系统</h2>
            <p>项目的初衷是为了解决学校请假过程的繁琐和纸质假条对于纸张的浪费。由于今年疫情的影响，学校采取了严格的出入校门政策，学生以及老师出入校门都要经过层层上报审批，最后拿到纸质假条才能出入校门。我觉得大可不必如此麻烦，所以决定开发出一个请假销假的系统，可以供学校学生，班导师，学院管理员，学生事务中心还有安保人员共同使用。将原本线下的请假流程搬到线上解决。我这个项目是基于一个开源项目上完成的，叫做<b>若依管理系统</b>，当然不是抄袭照搬，因为我和他需求不同，许多功能还是要我自己实现。我是用他的基本框架，避免做一些费时费力的基础开发，从而专注于我这个项目的设计实现。</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://github.com/tlc314960/JUST" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问本项目GitHub仓库
                </a>
                <a class="btn btn-success btn-outline" href="https://ruoyi.vip" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问开源项目地址
                </a>
            </p>
        </div>
        <div class="col-sm-1">
<!--            <h2>Hello,Guest</h2>-->
<!--            <small>移动设备访问请扫描以下二维码：</small>-->
            <br>
            <br>
            <img th:src="@{/JUSTsmall.png}" width="100%" style="max-width:150px;">
            <br>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://atang.icu" target="_blank">http://atang.icu</a>
                        </p>
                        <p><i class="fa fa-github"></i> GitHub个人仓库：<a href="https://github.com/tlc314960" target="_blank">https://github.com/tlc314960</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v00">v1.0</a><code class="pull-right">2020.11.27</code>
                                        </h4>
                                    </div>
                                    <div id="v00" class="panel-collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>JUST系统正式发布。</li>
                                                <li>学生模块：请假功能、搜索功能、查看通知。</li>
                                                <li>教师模块：批准请假销假功能、驳回请假销假功能、班级管理功能、搜索功能。</li>
                                                <li>学院模块：批准销假功能、驳回请假功能、学院管理功能、搜索功能。</li>
                                                <li>学生事务中心：发布通知功能、批准请假功能、驳回请假功能、全部学生管理功能。</li>
                                                <li>智慧校园安保：待开发。</li>
                                                <li>管理员功能：学生管理、角色管理、院系管理、菜单管理。</li>
                                                <li>监管功能：在线用户、服务监控。</li>
                                                <li>教务系统直达。</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系我</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            	如果有什么问题和建议，请扫描下面的二维码！
                        </div>
                        <p id="qq&wechat-qrcode">
                            <a href="javascript:;"><img th:src="@{/img/wechat.jpg}" width="40%" alt="请使用微信扫码">
                            </a>
							<a href="javascript:;"><img th:src="@{/img/qq.png}" width="40%" alt="请使用QQ扫码">
							</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', '360px'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
